:root {
    --warna-navbar : #ffffff;
    --warna-font : #1e1e1e;
    --color-hover: #bf1d29;
}
.container-card {
    margin-top: 35px;
    display: flex;
    flex-direction: row;
}
.card {
    display: flex;
    width: 50%;
    height: 440px;
    box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.39);
    margin: 0px 5px;
}
.card-img {
    line-height: 0;
    width: 50%;
    height: 100%;
    overflow: hidden;
}
.text-card {
    padding: 10px;
    width: 50%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    background-color: rgb(235, 232, 232);
}
.text-card h2, p, .review-star, button {
    margin: 10px 0px 0px 0px;
    color: var(--warna-font);
}
.text-card .harga {
    margin: 0;
}
.text-card button {
    width: 130px;
    padding: 5px;
    height: 40px;
   font-size: 14px;
   background-color: var(--warna-navbar);
   color: var(--color-hover);
   border-radius: 5px;
   border: none;
   transition: 0.4s ease;
   box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.404);
   margin-bottom: -5px;
}
.review-star img {
    width: 20px;
}
.card-img img {
    height: 100%;
    margin-left: -70px;
}
.text-card button:hover {
    background-color: var(--color-hover);
    color: var(--warna-navbar);
}
/* ------- RESPONSIVE CARD --------- */
@media (min-width: 450px) and (max-width: 767px) {
    .container-fluid {
        padding: 0px 10px;
    }
    .container-card {
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .card {
        width: 100%;
        margin-bottom: 10px;
        margin-top: 20px;
    }
    .text-card {
        padding-bottom: 15px;
    }
    .text-card, p, .review-star, button {
        font-size: 15px
    }
    .card-img img {
        margin: 0;
    }
    
}
@media (min-width: 768px) and (max-width: 1280px) {
    .container-card {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-top: 20px;
    }
    .container-fluid {
        padding: 0px 100px;
    }.card {
        width: 80%;
        margin-bottom: 10px;
    }
    .card-img img {
        width: 100%;
        margin: 0;
    }
}